/* Effective stylesheet produced by snapshot save */
.clear { clear: both; }
@font-face {
  font-family: "Tthin";
  src: url("/views/bepublic/css/fonts/Europe.ttf");
}
@font-face {
  font-family: "CondPro";
  src: url("/views/bepublic/css/fonts/PFDinTextCondPro-Light.ttf");
}
body { font-family: Tthin; }
.head-date { float: left; margin: 0px; font-size: 95px; text-shadow: 0px 1px 0px rgb(0, 0, 0); color: rgb(255, 255, 255); width: 200px; font-family: Tthin; }
.head-date b { float: right; padding-top: 8px; padding-right: 15px; font-size: 24px; }
.head-date span { display: block; padding-top: 5px; text-transform: uppercase; font-size: 22px; font-family: 'CondPro'; font-style: normal; }
body { font-family: 'CondPro',sans,arial; font-weight: 100; }
#about dd b { font-family: arial; font-weight: bold; }
h1 { font-family: 'CondPro'; font-size: 48px; text-transform: uppercase; }
h4 { font-size: 24px; }
a { text-decoration: none; border-bottom: 1px dotted rgb(0, 114, 188); color: rgb(0, 114, 188); display: inline-block; line-height: 1em; }
a:visited { text-decoration: none; }
#manleft { position: absolute; left: 0px; top: 0px; width: 152px; height: 484px; background: url("/views/bepublic/images/manleft.jpg") repeat scroll 0px 0px transparent; }
#manright { position: absolute; right: 0px; top: 0px; width: 152px; height: 484px; background: url("/views/bepublic/images/manright.jpg") repeat scroll right 0px transparent; }
a:hover { color: rgb(36, 166, 250); }
.wrap { width: 894px; margin: 0px auto; padding: 0px 48px; position: relative; }
h2 { height: 54px; position: relative; width: 540px; margin: 0px auto 36px; }
h2 span { display: block; border: 1px solid rgb(0, 0, 0); z-index: 10; height: 54px; line-height: 54px; font-size: 24px; text-align: center; text-transform: uppercase; font-family: Tthin; }
h2 b, h2 i { display: block; position: absolute; width: 64px; height: 56px; background: url("/views/bepublic/images/sprite1.png") no-repeat scroll 0px -58px transparent; top: -10px; left: -49px; z-index: 5; }
h2 i { background-position: 0px 0px; left: auto; right: -49px; }
header { position: relative; display: block; height: 558px; overflow: hidden; background: url("/views/bepublic/images/index-header-bg.jpg") repeat scroll 0 0 transparent; color: rgb(255, 255, 255); min-width: 1024px; }
header ul { width: 10000px; position: absolute; top: 0px; }
.top_managym_bg { position: relative; display: block; height: 560px; overflow: hidden; background: url("/views/bepublic/images/Bck_03.jpg") repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); min-width: 1024px; }
header li { height: 540px; display: block; float: left; position: relative; }
header li * { z-index: 5; }
header h3 { font-size: 40px; text-transform: uppercase; width: 450px; position: absolute; right: 48px; z-index: 20; top: 147px; letter-spacing: 1px; font-family: Tthin; }
header .nh3 { font-size: 40px; text-transform: uppercase; width: 450px; position: absolute; right: 48px; z-index: 20; top: 147px; letter-spacing: 1px; font-family: Tthin; }
header h4 { width: 450px; position: absolute; right: 48px; z-index: 20; top: 252px; font: 20px arial; letter-spacing: 0px; }
header .nh4 { width: 450px; position: absolute; right: 48px; z-index: 20; top: 252px; font: 20px arial; letter-spacing: 0px; }
header .quote { font-size: 14px; line-height: 17px; width: 450px; position: absolute; right: 48px; z-index: 20; top: 300px; color: rgb(198, 214, 217); font-style: italic; text-indent: -6px; font-family: arial; }
header .quote .author { padding: 8px 0px 0px; display: block; text-align: right; font-style: normal; }
header .date { width: 200px; height: 95px; position: absolute; bottom: 36px; right: 328px; z-index: 20; }
header .wrap { height: 540px; width: 864px; margin: 0px auto; position: relative; z-index: 100; }
header li .wrap { position: absolute; height: 560px; top: 0px; }
.signup { font: 30px Tthin; }
header .signup { display: block; width: 258px; height: 67px; background: url("/views/bepublic/images/signup-btn.jpg") repeat scroll 0% 0% rgb(204, 0, 0); cursor: pointer; border: 1px solid rgb(235, 0, 0); position: absolute; right: 48px; bottom: 50px; line-height: 67px; font-size: 30px; text-shadow: 0px -1px 0px rgb(102, 0, 0); color: rgb(255, 255, 255); text-align: center; z-index: 100; }
header .signup:hover { background-position: 0px -73px; }
header .img { position: absolute; height: 558px; width: 100%; left: -200px; top: 0px; }
#simonenko { background: url("/views/bepublic/images/simonenko.jpg") no-repeat scroll center -2px transparent; }
#kulinkovich { background: url("/views/bepublic/images/kulinkovich.jpg") no-repeat scroll center -2px transparent; }
#managym_top_banner { background: url("/views/bepublic/images/uriy.jpg") no-repeat scroll center center transparent; left:0px;}
#managym{
	background: url("up_back_03.jpg") no-repeat scroll center center transparent; 
}
#logo { width: 321px; height: 37px; position: absolute; right: 60px; top: 48px; z-index: 100; }
/* Верхняя плашка с ссылками на курсы */
.upper-bar-courses { width: 100%; height: 30px; background-color: black; display: block; position: relative; width: 100%; }
.upper-bar-wrapper { width: 960px; margin: 0 auto; padding-top: 2px; height: 32px; }
.upper-bar-wrapper div { background-color: white; float: left; color: black; width: 19%; text-align: center; height: 26px; padding-top: 2px; font-weight: bold; font-family: 'CondPro',sans,arial; font-size: 18px; }
.upper-bar-wrapper table { border-collapse: separate; border-spacing:0; float: right; width:80%; padding-top: 2px; border-color: black; }
.upper-bar-wrapper tbody { vertical-align: middle; border-color: inherit; }
.upper-bar-wrapper tr { vertical-align: inherit; border-color: inherit; }
.upper-bar-wrapper td { color: white; border-right: 2px solid white; text-align:center; vertical-align: inherit; padding: 0; width: 25%; height: 22px; padding-top: 2px; }
.upper-bar-wrapper a { color: white; text-decoration: none; border: 0; font-size: 18px; font-family: 'CondPro',sans,arial; }
.upper-bar-wrapper td:last-child { border-right: none; }

nav { width: 860px; height: 54px; position: relative; margin: -18px auto -36px; z-index: 3; }
nav ul { width: 860px; border: 1px solid black; background-color: rgb(255, 255, 255); z-index: 20; position: absolute; top: 0px; height: 54px; }
nav li { height: 54px; line-height: 0px; float: left; text-transform: uppercase; font-weight: 100; padding: 14px 27px 0px 25px; text-align: center; list-style: disc outside none; font-family: 'Tthin'; }
nav li.clear { float: none; width: 100%; list-style: none outside none; height: 0px; }
nav li:first-child { list-style: none outside none; }
nav a { font-size: 22px; font-family: 'Tthin'; position: relative; top: 3px; }
nav a:hover { color: rgb(36, 166, 250); }
nav > b, nav > i { display: block; position: absolute; width: 64px; height: 56px; background: url("/views/bepublic/images/sprite2.png") no-repeat scroll 0px -361px transparent; top: -10px; left: -48px; z-index: 5; }
nav > i { background-position: 0px -303px; left: auto; right: -51px; }
#about { display: block; background: url("/views/bepublic/images/graybg.jpg") repeat scroll 0% 0% transparent; position: relative; font-family: arial; font-size: 12px; color: rgb(92, 92, 92); }
#about h1 { color: rgb(0, 0, 0); margin-bottom: 12px; }
#about .nh1 { color: rgb(0, 0, 0); margin-bottom: 12px; }
#about p { margin-bottom: 48px; line-height: 18px; }
#about dl { width: 280px; float: left; margin-right: 16px; }
#about dt { font-family: 'CondPro'; font-size: 24px; margin-bottom: 12px; color: rgb(0, 0, 0); text-transform: uppercase; }
#about dd { line-height: 18px; }
#about a { line-height: 11px; display: inline-block; }
#about .wrap { padding: 80px 48px 40px; }
.r_description { padding: 0px 15px; width: auto; height: auto; margin: 0px; font: 20px Arial; color: rgb(51, 51, 51); }
#salesprint { height: 430px; background: url("/views/bepublic/images/carpetbg.jpg") repeat-x scroll center bottom black; position: relative; color: rgb(255, 255, 255); overflow: hidden; }
#salesprint * { position: relative; z-index: 10; }
#salesprint .bgwrap { height: 430px; position: absolute; width: 1105px; top: 0px; left: 305px; background: url("/views/bepublic/images/runner.jpg") no-repeat scroll 20% bottom transparent; z-index: 1; }
#salesprint h3 { font-size: 48px; padding: 50px 0px 20px; text-transform: uppercase; letter-spacing: -1px; }
#salesprint p { font-size: 16px; font-family: arial; }
#salesprint strong { display: block; margin: 32px 0px 20px; font-size: 30px; }
#salesprint a { font-size: 36px; color: rgb(255, 0, 10); display: inline-block; line-height: 35px; border-bottom: 1px solid rgb(255, 0, 10); }
#traincenter { display: block; position: relative; padding-top: 54px; }
#traincenter p { color: rgb(92, 92, 92); font-family: arial; font-size: 14px; line-height: 18px; text-align: center; margin: 40px 0px; }
#squares { width: 100%; height: 480px; position: relative; overflow: hidden; }
#squares .larr, #squares .rarr { position: absolute; width: 86px; height: 86px; background: url("/views/bepublic/images/arrows.png") repeat scroll -1px -89px transparent; top: 196px; left: 20px; cursor: pointer; display: none; z-index: 20; }
#squares .rarr { background-position: -1px 0px; left: auto; right: 20px; }
#squares ul { position: absolute; }
#squares li { display: block; width: 240px; height: 480px; position: relative; float: left; }
#squares img { width: 240px; height: 240px; }
#squares li dl { width: 204px; height: 186px; padding: 54px 0px 0px 36px; font-style: italic; }
#squares dt { font-size: 42px; margin-bottom: 16px; }
#squares dd { font-size: 20px; }
#coach { display: block; background: url("/views/bepublic/images/blackbg.jpg") repeat scroll 0% 0% transparent; padding: 64px 0px 0px; color: rgb(255, 255, 255); overflow: hidden; }
#coach h2 span, #ps h2 span { border: 1px solid white; }
#coach h2 b, #ps h2 b { background-position: 0px -176px; }
#coach h2 i, #ps h2 i { background-position: 0px -118px; }
#coach .about { width: 600px; margin: 0px auto 80px; font-family: arial; font-size: 14px; color: rgb(161, 161, 161); text-align: center; line-height: 18px; }
#coach .specialization { width: 232px; float: right; border: 1px solid rgb(85, 85, 85); color: rgb(161, 161, 161); padding: 0px 20px 30px; font-size: 12px; position: relative; top: 10px; }
#coach .specialization p, #coach subscribe p { font-family: arial; }
#coach .specialization p { line-height: 14px; }
#coach .subscribe { display: none; width: 212px; margin: 0px 24px; float: right; border-top: 1px solid rgb(85, 85, 85); color: rgb(161, 161, 161); padding: 0px 8px 30px; font-size: 18px; position: relative; top: -50px; }
#coach .subscribe h4 { position: relative; top: -0.5em; color: rgb(255, 255, 255); width: 160px; background: url("/views/bepublic/images/blackbg.jpg") repeat scroll 0% 0% transparent; margin: 0px auto; text-align: center; text-transform: uppercase; }
#coach .specialization h4 { position: relative; top: -0.5em; color: rgb(255, 255, 255); width: 200px; background: url("/views/bepublic/images/blackbg.jpg") repeat scroll 0% 0% transparent; margin: 0px auto; text-align: center; text-transform: uppercase; font-family: Tthin; }
#coach .specialization .nh4 { position: relative; top: -0.5em; color: rgb(255, 255, 255); width: 200px; background: url("/views/bepublic/images/blackbg.jpg") repeat scroll 0% 0% transparent; margin: 0px auto; text-align: center; text-transform: uppercase; font-family: Tthin; font-size: 24px;}
#coach .subscribe input[type="text"] { background-color: rgb(255, 255, 255); margin-top: 16px; width: 160px; }
#coach .subscribe input[type="button"] { text-indent: -100em; width: 26px; height: 26px; background: url("/views/bepublic/images/sprite1.png") no-repeat scroll 0px -271px transparent; border: medium none; cursor: pointer; float: right; margin-top: 14px; }
#coach .specialization h4 i, #coach .subscribe h4 i { font-size: 8px; position: relative; top: -3px; }
#coach .specialization .nh4 i, #coach .subscribe .nh4 i { font-size: 8px; position: relative; top: -3px; }
#coach .specialization p { padding: 6px 0px; }
#coach .text .quote { font-size: 16px; color: rgb(161, 161, 161); font-family: Arial; line-height: 19px; }
#photos li { float: left; margin: 0px 172px 0px 0px; position: relative; width: 222px; height: 222px; }
#photos li.active i { display: block; position: absolute; width: 1px; height: 118px; background-color: rgb(255, 255, 255); left: 116px; bottom: -118px; }
#descr li { display: none; list-style: none; padding: 124px 24px 0px 0px; margin-left: 128px; }
#descr .text .hidden { display: none; margin-bottom: 8px; }
#descr .text .hidden li { display: list-item; list-style: disc outside none; margin: 8px 0px 8px 16px; padding: 0px; }
#descr .social { color: rgb(161, 161, 161); float: right; margin: 12px 0px; }
#descr .text a { border: medium none; color: rgb(161, 161, 161); text-decoration: underline; }
#descr .text button { border: medium none; cursor: pointer; position: relative; left: -36px; font-size: 18px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% transparent; text-transform: uppercase; padding: 0px; height: 26px; margin: 24px 0px; font-family: 'CondPro'; font-weight: 100; }
#descr .text button span { border-bottom: 1px dotted white; position: relative; top: -8px; }
#descr .text button i { width: 26px; height: 26px; background: url("/views/bepublic/images/sprite1.png") no-repeat scroll -29px -241px transparent; display: inline-block; margin-right: 8px; }
#descr .text button.open i { background-position: 0px -241px; }
#descr li.active { display: list-item; }
#descr .text { width: 450px; float: left; font-size: 12px; font-family: arial; color: rgb(255, 255, 255); position: relative; top: -12px; }
#descr .text p { line-height: 16px; font-family: arial; padding: 5px 0px; color: rgb(204, 204, 204); }
#photos { position: relative; clear: both; }
#photos li img { width: 217px; height: 217px; border-radius: 50% 50% 50% 50%; border: 1px solid transparent; padding: 1px; cursor: pointer; }
#photos li.active img { background: url("/views/bepublic/images/circle2.png") no-repeat scroll 0px 0px transparent; }
#photos h3 { text-transform: uppercase; position: absolute; bottom: -77px; left: 100px; font-size: 30px; text-shadow: 0px 1px 0px black; cursor: pointer; }
#photos .nh3 { text-transform: uppercase; position: absolute; bottom: -77px; left: 100px; font-size: 30px; text-shadow: 0px 1px 0px black; cursor: pointer; }
#photos .active h3 { cursor: text; }
#photos li.active h3 { font-size: 48px; left: 265px; top: 92px; cursor: default;}
#photos li.active .nh3 { font-size: 48px; left: 265px; top: 92px;}
#photos li.active .nh3 { font-size: 48px; left: 265px; top: 92px; cursor: default;}
.name, .surname { display: inline-block; position: relative; font-family: Tthin; }
.name b, .surname b { position: absolute; bottom: 2px; left: 2px; height: 1px; width: 100%; background: none repeat scroll 0% 0% rgb(237, 28, 36); }
.active .name b, .active .surname b { background: none repeat scroll 0% 0% transparent; }
.active .name, .active .surname { border: medium none; }
#grants { background: url("/views/bepublic/images/graybg.jpg") repeat scroll 0% 0% transparent; padding: 64px 0px 28px; position: relative; }
#grants h2 { margin-bottom: 60px; }
#grants .about { float: left; position: relative; top: -12px; width: 60%; }
#grants .about p { margin-bottom: 24px; }
#grants strong { text-transform: uppercase; font-size: 20px; color: rgb(206, 1, 1); margin: 0px 0px 16px ! important; display: inline-block; font-family: Tthin; }
#grants strong span { font-size: 18px; color: rgb(92, 92, 92); text-transform: lowercase; }
#grants li { list-style: disc outside url("/views/bepublic/images/liststyle.png"); margin: 12px 0px; font-family: arial; font-size: 12px; color: rgb(92, 92, 92); }
#grants .about li p { font-size: 12px; }
#grants b { font-weight: bold; }
#grants .right b { font-size: 14px; color: rgb(206, 1, 1); font-family: 'Arial Narrow',arial,sans-serif; display: inline-block; padding-bottom: 8px; font-weight: normal; text-transform: uppercase; line-height: 18px; }
#grants .right li { padding: 0px 0px 18px 12px; list-style: none outside none; }
#grants p { font-size: 12px; font-family: arial; color: rgb(92, 92, 92); line-height: 16px; }
#application { margin-top: 25px; width: 274px; padding: 0px 24px 24px; font-size: 12px; color: rgb(92, 92, 92); border-top: 1px solid rgb(190, 189, 189); position: relative; float: right; }
.right h4, #schedule h3 { color: rgb(0, 0, 0); text-transform: uppercase; width: 196px; position: relative; top: -0.5em; margin: 0px auto; text-align: center; background: url("/views/bepublic/images/graybg.jpg") repeat scroll 0% 0% transparent; font-family: Tthin; }
.right .nh4, #schedule h3 { font-size: 24px; color: rgb(0, 0, 0); text-transform: uppercase; width: 196px; position: relative; top: -0.5em; margin: 0px auto; text-align: center; background: url("/views/bepublic/images/graybg.jpg") repeat scroll 0% 0% transparent; font-family: Tthin; }
.right h4 { width: 184px; }
.right .nh4 { width: 184px; }
#application i, .right h4 i { font-size: 8px; position: relative; top: -5px; }
#application i, .right .nh4 i { font-size: 8px; position: relative; top: -5px; }
#application .btn { display: block; background-color: rgb(251, 251, 251); font-size: 24px; line-height: 54px; height: 54px; border: 2px solid rgb(0, 0, 0); text-align: center; text-decoration: underline; margin-top: 32px; }
#application .btn:hover { background-color: rgb(91, 91, 91); color: rgb(255, 255, 255); }
#schedule { padding: 14px 0px 50px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px 0px 40px; }
#schedule .tabs { margin: 64px 0px; }
#schedule .tabs li { width: 121px; height: 55px; display: inline-block; float: left; font-size: 24px; text-align: center; line-height: 48px; margin: 0px 20px 0px 0px; }
#schedule .tabs li.active { background: url("/views/bepublic/images/groupbg.png") repeat scroll 0% 0% transparent; }
#schedule .tabs li a { color: rgb(0, 0, 0); border: medium none; }
#schedule .today { width: 380px; float: right; border-top: 1px solid black; font-size: 18px; text-align: center; margin: 60px 0px 0px; }
#schedule h3 { font-size: 48px; background: none repeat scroll 0% 0% rgb(255, 255, 255); top: -0.5em; margin: 0px auto 12px; position: relative; }
#schedule .today h3 { width: 260px; }
#schedule h3 i { top: -12px; font-size: 8px; position: relative; }
#schedule .apply, .loggin-form .apply { width: 380px; float: left; border-top: 1px solid black; font-size: 14px; text-align: center; margin: 60px 0px 0px; display: none; }
#schedule .apply { display: none; float: right; }
#schedule .apply h3, .loggin-form .apply h3 { width: 320px; margin-bottom: -6px; font-family: 'CondPro'; margin-top: -2px; }
#schedule .apply label, .loggin-form .apply label { display: block; width: 80px; float: left; line-height: 26px; text-align: right; margin-right: 12px; font-size: 14px; position: relative; font-family: arial; }
#schedule .apply input[type="text"], #schedule .apply input[type="email"], .loggin-form .apply input[type="text"], .loggin-form .apply input[type="amail"] { width: 256px; float: left; border: 1px solid black; background-color: rgb(255, 255, 255); line-height: 26px; height: 26px; font-size: 14px; margin-bottom: 16px; padding: 0px 8px; }
#schedule .apply input.error, .loggin-form .apply input.error { border: 1px solid rgb(206, 1, 1); }
.apply .alert { position: absolute; left: 92px; top: 22px; font-size: 13px; color: rgb(206, 1, 1); width: 280px; height: 14px; text-align: left; }
#schedule .apply input[type="checkbox"], .loggin-form .apply input[type="checkbox"] { float: left; margin-left: 80px; height: 16px; }
#schedule .apply span, .loggin-form .apply span { float: left; text-align: left; line-height: 16px; position: relative; top: 2px; font-size: 14px; }
#wherewhen { font-size: 30px; text-transform: uppercase; }
#schedule .coach { font-size: 24px; }
#schedule .about { font-style: italic; color: rgb(92, 92, 92); border-bottom: 1px solid black; border-top: 1px solid black; padding: 36px 0px; margin: 44px 0px 0px; position: relative; }
#schedule .about i { width: 27px; height: 27px; background: url("/views/bepublic/images/separator.gif") no-repeat scroll 2px 0px white; position: absolute; top: -14px; left: 178px; padding: 2px; }
#schedule .time { font-weight: bold; }
#schedule .signup { display: block; width: 378px; height: 67px; background: url("/views/bepublic/images/signup-btn.jpg") repeat scroll 0% 0% rgb(204, 0, 0); cursor: pointer; border: 1px solid rgb(235, 0, 0); line-height: 67px; font-size: 30px; text-shadow: 0px -1px 0px rgb(102, 0, 0); color: rgb(255, 255, 255); text-align: center; margin: 36px 0px 0px; font-family: 'CondPro'; }
#map { height: 400px; overflow: hidden; position: relative; }
#myMap { width: 100%; height: 400px; top: 0px; z-index: 1; }
#map .wrap { position: absolute; width: 100%; top: 0px; }
.elka { position: absolute; width: 10000px; height: 22px; z-index: 100; background: url("/views/bepublic/images/elka.png") repeat-x scroll center top transparent; }
#contacts { width: 520px; height: 240px; background: url("/views/bepublic/images/contacts-bg.png") no-repeat scroll 0% 0% transparent; color: rgb(250, 250, 250); position: relative; padding: 32px 0px 0px 40px; margin: 0px auto; top: 0px; z-index: 20; }
#contacts .addr { font-family: arial; font-size: 12px; position: absolute; width: 180px; left: 28px; bottom: 2px; text-align: center; }
#contacts .addr p{ font-family: arial; font-size: 9px;  width: 180px; left: 28px; bottom: 2px; text-align: center; }
#contacts .inner { width: 300px; position: relative; left: 200px; top: 30px; }
#contacts .inner a { color: rgb(255, 255, 255); text-decoration: none; border: medium none; }
#contacts .label { width: 100px; float: left; font-size: 18px; color: rgb(161, 161, 161); font-style: italic; }
#contacts .phones { width: 190px; float: left; font-size: 20px; color: rgb(255, 255, 255); margin-bottom: 20px; font-family: Tthin; }
#contacts .code { color: rgb(161, 161, 161); }
#contacts .hide { font-size: 18px; color: rgb(255, 255, 255); border: medium none; text-transform: uppercase; position: absolute; bottom: 12px; right: 16px; }
#contacts .hide span { border-bottom: 1px dotted white; position: relative; top: -6px; font-family: Tthin; }
#contacts .hide i { width: 26px; height: 26px; background: url("/views/bepublic/images/sprite1.png") no-repeat scroll -29px -241px transparent; display: inline-block; margin-left: 16px; }
#contacts .hide.open i { background-position: 0px -241px; }
.right { float: right; width: 318px; border-top: 1px solid rgb(190, 189, 189); }
#contacts .menu { list-style: none outside none; font-size: 16px; }
#contacts .menu li { float: left; width: 24%; text-align: center; }
#contacts .menu a { text-decoration: underline; border: medium none; color: rgb(161, 161, 161); text-transform: uppercase; }
@media not all {
  header h3 { letter-spacing: 0px; font-family: Tthin; }
  nav li a { font-size: 20px; }
  #schedule h3 { font-size: 42px; }
}
.new_why_us_wrap { padding: 40px 0px 0px 15px; }
.new_why_us { float: left; margin-left: 20px; width: 445px; }
.new_why_us_wrap h1 { font-size: 30px; text-transform: uppercase; font-family: 'Tthin'; }
.new_why_us_wrap .nh1 { font-size: 30px; text-transform: uppercase; font-family: 'Tthin'; }
.new_why_us ul { padding: 20px 0px 20px 20px; font: 14px arial; list-style: disc outside none; color: rgb(206, 1, 1); }
.new_why_us li { padding: 0px 0px 8px; }
.new_why_us span { color: rgb(92, 92, 92); }
.new_why_us p { margin: 0px ! important; padding: 0px 0px 15px; font: 14px arial ! important; color: rgb(51, 51, 51); }
.under_school { padding: 0px; }
.under_school p { width: 835px; margin: 0px ! important; padding: 0px 0px 15px; font: 14px arial; color: rgb(51, 51, 51); }
.under_school b { font-weight: bold; font-size: 14px; }
.new_artox { position: relative; float: left; padding: 60px 25px; margin: 5px 0px 0px; width: 326px; border-right: 1px solid rgb(190, 189, 189); border-left: 1px solid rgb(190, 189, 189); }
.company_project { border-top: 1px solid rgb(190, 189, 189); }
.company_project span { display: block; margin: -10px auto 0px; background: url("/views/bepublic/images/graybg.jpg") repeat scroll 0% 0% transparent; width: 180px; text-align: center; color: rgb(0, 0, 0); }
.company_project b { vertical-align: middle; font-size: 18px; text-transform: uppercase; font-family: 'Tthin'; }
.artox_logo { padding: 15px 0px 20px; border-bottom: 1px solid rgb(190, 189, 189); text-align: center; }
.artox_logo a { text-decoration: none; border: medium none; }
.teeth-top, .teeth-bott { position: absolute; top: 0px; left: 0px; width: 100%; height: 5px; background: url("/views/bepublic/images/teeth.png") repeat-x scroll 0px 0px transparent; }
.teeth-bott { bottom: 0px; top: auto; background: url("/views/bepublic/images/teeth.png") repeat-x scroll 0px -7px transparent; }
.fw { float: left; width: 100%; }
.center-col { margin: 0px 280px 0px 305px; }
.left-col { float: left; margin: 0px 0px 0px -100%; }
.right-col { float: left; margin-left: -280px; }
.left-col, .right-col, .center-col { width: 280px; }
.txt-col { padding: 25px 0px 45px; }
.txt-col strong { font: 18px Tthin,Arial Narrow,sans-serif; color: rgb(206, 1, 1); text-transform: uppercase; }
.txt-col p { padding: 15px 0px 0px; margin: 0px ! important; color: rgb(67, 67, 67); font: 12px arial ! important; text-align: left ! important; }
.kurs-programm { padding: 50px 0px 60px; background: url("/views/bepublic/images/programm-bg.png") repeat scroll 0px 0px transparent; }
.kurs-programm h1 { width: auto; margin: 0px; padding: 32px 0px 30px; text-align: center; font-size: 43px; font-family: Tthin; }
.kurs-programm .nh1 { width: auto; margin: 0px; padding: 32px 0px 30px; text-align: center; font-size: 43px; font-family: Tthin; text-transform: uppercase;}
.kurs-programm h2 { height: auto; width: auto; margin: 0px; padding: 0px; font-size: 24px; text-align: center; line-height: 32px; font-family: Tthin; }
.kurs-programm .nh2 { height: auto; width: auto; margin: 0px; padding: 0px; font-size: 24px; text-align: center; line-height: 32px; font-family: Tthin; }
.cline { text-align: center; }
.lessons-list { margin: 60px 0px 0px; list-style: none outside none; }
.lessons-list li { float: left; height: 45px; line-height: 45px; padding: 6px 14px 6px 20px; font-size: 22px; }
.lessons-list li a { color: rgb(0, 114, 188); text-decoration: none; border-bottom: 1px dotted rgb(0, 114, 188); }
.lessons-list li.active { border-color: rgb(0, 0, 0); border-width: 1px 1px 0px; border-style: solid; position: relative; padding: 5px 10px 10px 12px; }
.lessons-list li.active a { color: rgb(206, 1, 1); font-size: 26px; border: medium none; }
.lessons-list li.active i { position: absolute; left: 0px; bottom: -6px; width: 100%; height: 7px; background: url("/views/bepublic/images/bord-arrow.png") no-repeat scroll center 0px transparent; }
.lesson { display: none; padding: 30px 0px 10px; font-size: 14px; font-family: arial; }
.lesson p { text-align: center; line-height: 16px; margin: 0px auto; width: 750px; }
.lesson h3 { text-align: center; padding: 30px 0px 20px; font-size: 30px; font-family: 'Tthin'; text-transform: uppercase; }
.lesson ul { padding: 0px 0px 25px; overflow: hidden; }
.lesson li { float: left; padding-right: 20px; width: 270px; font: 12px arial; }
.lesson li span { display: block; font-size: 14px; color: rgb(206, 1, 1); font-family: Tthin,Arial Narrow,sans-serif; text-transform: uppercase; padding-bottom: 8px; }
.list-bord { border: 1px solid rgb(0, 0, 0); }
.list-bord b { display: block; padding: 20px; font-size: 14px; }
.col-1, .col-2 { float: left; width: 50%; }
.col-1 p { padding-right: 24px; }
.training-day { margin-top: 16px; margin-bottom: 15px; }
.training-day h3 { display: block; font-size: 16px; color: rgb(206, 1, 1); font-family: Arial Narrow,sans-serif; text-transform: uppercase; padding: 12px 0px 12px 100px; text-align: left; }
.training-day img { float: left; }
.training-day p { margin: 5px 0px 0px 100px; font: 14px arial; color: rgb(67, 67, 67); width: auto; text-align: left; }
.video_in_form { width: 515px; float: left; }
.form_in_form { float: right; width: 360px; }
#top_form { border-top: 1px solid rgb(248, 248, 248); padding-top: 20px; }
.top_form { padding: 0px 0px 20px; }
.form_in_form input[type="text"] { float: right; height: 25px; border: 1px solid rgb(156, 156, 156); font: 14px/24px arial; padding: 0px 0px 0px 5px; width: 265px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35) inset, 0px 1px 0px rgba(255, 255, 255, 0.7); }
.form_in_form span { float: left; font: 14px/24px arial; width: 75px; height: 25px; text-align: right; }
.form_in_form sub { position: relative; top: -3px; font-size: 12px; color: rgb(204, 0, 0); }
.form_in_form .signup { background: url("/views/bepublic/images/signup-btn.jpg") repeat scroll 0px 0px rgb(204, 0, 0); border: 1px solid rgb(235, 0, 0); margin: 40px auto 0px; float: right; color: rgb(255, 255, 255); cursor: pointer; display: block; font-size: 30px; height: 67px; line-height: 67px; text-align: center; text-shadow: 0px -1px 0px rgb(102, 0, 0); width: 270px; }
.form_in_form .signup:hover { background-position: 0px -73px; }
#ps { padding: 60px 0px 30px; background: url("/views/bepublic/images/ps_bg.jpg") repeat scroll 0px 0px transparent; }
#ps h2 { color: rgb(255, 255, 255); }
#ps h1 { font-size: 43px; color: rgb(255, 255, 255); text-align: center; font-family: Tthin; }
#ps .nh1 { font-size: 43px; color: rgb(255, 255, 255); text-align: center; font-family: Tthin; }
#ps h3 { padding: 25px 0px; color: rgb(255, 255, 255); font-size: 20px; text-align: center; font-family: Tthin; }
#ps .nh3 { padding: 25px 0px; color: rgb(255, 255, 255); font-size: 20px; text-align: center; font-family: Tthin; }
#video { padding: 10px 0px 20px; text-align: center; }
.our-phone { padding: 65px 0px 50px; }
.our-phone h1 { font-size: 40px; padding: 0px 0px 30px; text-align: center; font-family: Tthin; }
.our-phone .nh1 { font-size: 40px; padding: 0px 0px 30px; text-align: center; font-family: Tthin; }
.ps_angle {
    background: url("/views/bepublic/images/ps_angle.png") no-repeat scroll 0 0 transparent;
    bottom: -59px;
    height: 29px;
    left: 50%;
    margin: 0;
    position: absolute;
    width: 75px;
}
.ontop { position: absolute; bottom: -10px; right: 20px; width: 136px; height: 55px; background: url("/views/bepublic/images/ontop.png") no-repeat scroll 0% 0% transparent; cursor: pointer; }
.form_payment { padding: 0px 0px 28px; border-bottom: 1px solid rgb(56, 56, 56); font-size: 18px; font-family: Arial Narrow,sans-serif; text-transform: uppercase; letter-spacing: -1px; }
#ps .form_in_form { padding: 40px 0px; float: none; margin: 0px auto; }
#ps .form_in_form span { color: rgb(255, 255, 255); }
#ps .form_in_form input { background: none repeat scroll 0% 0% rgb(106, 106, 106); border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); box-shadow: 0px 1px 3px 0px rgb(0, 0, 0) inset; }
#ps .form_in_form input.error { background: none repeat scroll 0% 0% rgb(0, 0, 0); box-shadow: none; }
#ps .form_in_form .signup { float: none; margin: 40px 0px 0px auto; }
input.error { border-color: rgb(255, 0, 0) ! important; color: rgb(255, 0, 0) ! important; }
.bottom_succedd { color: rgb(255, 255, 255); font: 18px arial; text-align: center; }
.succes_top_form { color: rgb(0, 0, 0); font: 18px arial; text-align: center; }
#center { margin-top: 35px; }
.sch_table { width: 665px; margin: 0px auto; }
#schedule table { border-collapse: collapse; width: 665px; font-family: arial; font-size: 12px; text-align: center; color: rgb(92, 92, 92); margin: 30px 0px 0px; }
#schedule table th, #schedule table td { padding: 0px; }
#schedule table th { color: rgb(0, 0, 0); font-size: 18px; text-transform: uppercase; border-bottom: 1px solid black; background-color: white; line-height: 30px; font-family: 'CondPro'; }
#schedule table tr.month td { height: 38px; line-height: 38px; color: rgb(0, 0, 0); }
.bbordered td { border-bottom: 1px solid rgb(239, 239, 239); }
#schedule table td { line-height: 30px; }
.captcha { padding: 0px 0px 12px 87px; }
.imgCap { padding: 0px 0px 12px 3px; }
.soc_seti { text-align: center; }
.subscribe { float: left; padding: 35px 0px 0px; }
.subscribeDone { width: 307px; }
.subscribe p { text-align: left; font: 20px 'CondPro'; padding: 0px 0px 12px; }
.subscribe span { font: 14px Arial Narrow; }
.subscribe input { width: 248px; height: 26px; line-height: 25px; border: 1px solid rgb(156, 156, 156); margin-left: 10px; }
.subscribe a { display: inline-block; height: 26px; margin-left: 10px; border: 1px solid rgb(0, 0, 0); width: 105px; text-align: center; line-height: 25px; text-decoration: underline; }
.soc_links { padding: 35px 50px 0px 0px; float: right; color: rgb(154, 154, 154); text-align: left; }
.soc_links p { text-align: left; padding: 0px 0px 12px; color: rgb(0, 0, 0); font: 20px 'CondPro'; }
.soc_links a { margin: 0px 25px; border: medium none; text-decoration: underline; }
.first_tw { margin-left: 0px ! important; }
.social > span { display: block; width: 24px; height: 24px; line-height: 24px; color: white; background-color: rgb(0, 0, 0); position: relative; text-align: center; vertical-align: middle; float: left; margin-right: 20px; }
#facebook .fb-like { position: absolute; top: 0px; left: 0px; }
.social > #facebook > .fb-like > span:first-child { opacity: 0; }
.twitter-share-button { opacity: 0; position: absolute; top: 0px; left: 0px; }
#vk {  }
#gplus > * { opacity: 0; position: absolute; top: 0px; left: 0px; }
#switch_table { width: 650px; margin: 0px auto; }
#switch_table li { float: left; font: 18px Tthin; color: rgb(0, 114, 188); padding: 12px 21px 12px 23px; cursor: pointer; }
#switch_table li span { border-bottom: 1px dotted rgb(0, 114, 188); }
#switch_table li.active { position: relative; border-top: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 11px 20px 11px 22px; }
#switch_table li.active span { border: medium none; color: rgb(206, 1, 1); }
#switch_table li.active i { position: absolute; left: 0px; bottom: -6px; height: 7px; width: 100%; background: url("/views/bepublic/images/bord-arrow.png") no-repeat scroll center 0px transparent; }
.overlay { position: fixed; width: 100%; height: 100%; z-index: 1010; left: 0px; top: 0px; display: none; background: url("/views/bepublic/images/overlay.png") repeat scroll 0px 0px transparent; }
.modal { display: none; position: absolute; z-index: 1015; left: 50%; margin: 0px 0px 0px -150px; }
.modal_btn { display: block; margin: 20px auto 0px; width: 236px; height: 59px; background: url("/views/bepublic/images/modal_btn.png") no-repeat scroll 0px 0px transparent; }
#our_blog { position: relative; padding: 15px 0px 0px; overflow: hidden; background: none repeat scroll 0% 0% rgb(226, 0, 0); }
.red_blog_link { position: absolute; top: 0px; left: 0px; z-index: 2; height: 100%; width: 100%; }
#our_blog img, .blog_news { float: left; }
.blog_news { padding: 0px 0px 0px 40px; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgb(161, 0, 0); font: 30px Tthin; }
.blog_news p { padding: 5px 0px 0px; font: 14px Tahoma; }
.blog_news a { color: rgb(255, 255, 255); text-decoration: underline; border: medium none; }
#o_gym {
	background:url('/views/bepublic/images/o_gym.jpg') center 0px no-repeat #000000;
	height:273px;
	overflow:hidden;
}
.o_gym_cn {
	width:990px;
	margin:28px auto 0px;
}
.o_gym_tx {
	margin:0px 0px 0px 425px;
	width:560px;
	overflow:hidden;
}
.o_gym_tx span {
	font: 30px 'CondPro',sans,arial;
	color:#ffffff;
	margin-bottom:12px;
	display:block;
}
.o_gym_tx p{
	font: 14px arial;
	margin:0px 0px 7px 0px;
	line-height:1.2;
	color:#ffffff;
}
#konk_prem {
	background:url('/views/bepublic/images/konk_back.gif') 0 0 repeat;
	overflow:hidden;
}
#konk_prem .konk_cent {
	margin:0px auto 0px;
	padding:60px 40px 25px;
	width:920px;
	overflow:hidden;
	position:relative;
}
.konk_cent h2 {
	font: 35px 'CondPro',sans,arial;
	color:#000000;
	margin:0px 0px 0px 0px;
	position:absolute;
	text-transform:uppercase;
}

.konk_cent .nh2 {
    font: 35px 'CondPro',sans,arial;
    color:#000000;
    margin:0px 0px 0px 0px;
    position:absolute;
    text-transform:uppercase;
}

.one_konks {
	width:280px;
	float:left;
	margin-left:40px;
}
.konk_cent .one_konks:first-child {
	margin-left:0px;
}
.konk_op {
	width:100%;
	font-family:'CondPro',sans,arial;
	margin:0px 0px 22px 0px;
}
.konk_op .numb {
	color:#898989;
	font-size:14px;
	display:block;
	text-align:left;
}
.konk_op .red_z {
	font:18px 'CondPro',sans,arial;
	color:#ce0101;
	margin:5px 0px 8px;
	display:block;
	text-align:left;
	text-transform:uppercase;
}
.konk_op p {
	font-size:12px;
	color:#333333;
	font-family:Arial;
	line-height:1.2;
}
#photos li.active .name_teach {
	top:60px;
	left:260px;
}
.teach_cit {
	position:absolute;
	left:130px;
	top:260px;
	width:695px;
	color:#a1a1a1;
	font-size:16px;
	font-style:italic;
	font-family:Arial;
}
#photos li.active i span {
	position:absolute;
	bottom:-9px;
	left:-2px;
	width:5px;
	height:5px;
	background:url('/views/bepublic/images/white_toch.gif') 0 0 no-repeat;
	
}
#descr li.active.teach_uy {
	padding-top:182px;
	margin-left:27px;
	list-style:none;
}
#descr li.active.teach_uy  p {
	font-size:12px;
	color:#ffffff;
}
#descr li.active.teach_uy  p b {
	font-weight:bold;
	font-family:'Tahoma';
}
#descr .teach_uy .text {
	width:480px;
}
#coach .specialization.teach {
	width:250px;
}
#descr li.active .specialization.teach p {
	color:#a1a1a1;
	font-size:12px;
	font-family:'Tahoma';
}
.social.teach {
	display:table !important;
	margin:30px auto 30px !important;
	float:none !important;
}
.social.teach  a {
	color:#a1a1a1;
	border:0px;
	text-decoration:underline;
}
.teach .lesson p {
	color:#434343;
	font-family:Tahoma;
	font-size:14px;
	width:915px;
}
.teach .lesson {
	padding-bottom:30px;
}
.lessons-list.teach {
	width:1000px;
	position:relative;
	margin:20px -48px;
}
#grants .usl_grant {
	padding-left:13px;
}
#grants .usl_grant li{
	color:#ce0101;
	list-style-image:url('/imageslisting_r.png');
}
#grants .usl_grant li span {
	color:#5c5c5c;
}
#up_ban {
	background:url('/views/bepublic/images/up_baner_back.gif') 0 0 repeat-x;
	height:60px;
	overflow:hidden;
	width:100%;
}
.cen_up_ban {
	width:990px;
	margin:0px auto;
	position:relative;
}
#up_ban a{
	position:absolute;
	top:0px;
	z-index:50;
	left:0px;
	width:100%;
	height:60px;
}
.lf {
	font-family: Tthin;
	font-size:28px;
	color:#ffffff;
	position:absolute;
	left:70px;
	top:15px;
}
.cn {
	font-size:41px;
	font-family: Tthin;
	color:#ffffff;
	left:520px;
	top:12px;
	position:absolute;
}
/*.rg {
	right:74px;
	top:10px;
	position:absolute;
	font-size:41px;
	font-family: Tthin;
	color:#ffffff;
	width:172px;
}
.rg span{
	float:right;
	font-size:20px;
	font-family: Tthin;
	color:#ffffff;
	width:117px;
}*/

	#up_ban_man{
		background:url('/views/bepublic/images/managym_ban_04.png') center 0px no-repeat #000000;
		height:38px;
		overflow:hidden;
		width:100%;
		position:relative;
	}
	.cen_up_man {
		margin: 0 auto;
		position: relative;
		width: 990px;
	}
	#up_ban_man a {
		height: 60px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 50;
	}
	.rg {
		position: absolute;
		font-size:20px;
		color:#ffffff;
		font-family: Tthin;
		left:255px;
		top:8px;
		z-index: 2;
	}
	.ss_ban {
		position: absolute;
		top:7px;
		left:470px;
		font-size:20px;
		color:#ffffff;
		font-family: Tthin;
		z-index: 2;
	}
	.ss_ban span {
		border-bottom:1px solid #f8060f;
		color:#ffffff;
		text-decoration:none;
	}
	.ss_ban i {
		position: absolute;
		right:-33px;
		top:4px;
		background:url('/views/bepublic/images/ban_strel.png') 0 0 no-repeat;
		width:21px;
		height:10px;
	}


	
	#up_ban_sales{
		background:url('/views/bepublic/images/managym_ban_03.png') center 0px no-repeat #000000;
		height:38px;
		overflow:hidden;
		width:100%;
		position:relative;
	}
	#up_ban_sales a {
		height: 60px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 50;
	}
	.cen_up_man {
		margin: 0 auto;
		position: relative;
		width: 990px;
	}
	.rg {
		position: absolute;
		font-size:20px;
		color:#ffffff;
		font-family: Tthin;
		left:255px;
		top:8px;
	}
	.ss_ban {
		position: absolute;
		top:7px;
		left:470px;
		font-size:20px;
		color:#ffffff;
		font-family: Tthin;
		z-index: 2;
	}
	.sales .ss_ban span {
		border-bottom:1px solid #ffffff;
	}
	.sales .ss_ban i {
		background-position:0px -12px;
	}
	.ss_ban span {
		border-bottom:1px solid #f8060f;
		color:#ffffff;
		text-decoration:none;
	}
	.ss_ban i {
		position: absolute;
		right:-33px;
		top:4px;
		background:url('/views/bepublic/images/ban_strel.png') 0 0 no-repeat;
		width:21px;
		height:10px;
	}
/*style from form applicate*/
#applic_center {
	position:absolute;
	z-index:1000;
	background: #ffffff; /* ���� ���� */
    -moz-box-shadow: 0 0 40px #c5c5c5; /* ��� Firefox */
    -webkit-box-shadow: 0 0 40px #c5c5c5; /* ��� Safari � Chrome */
    box-shadow: 0 0 40px #c5c5c5; /* ��������� ���� */
    position:absolute;
	display:none;
}
.applic_form {
	position:relative;
	padding:45px 35px 35px 42px;
}
.applic_form  h1 {
	color:#ec0000;
	font-weight:normal;
	font-size:30px;
	margin:0px;
	font-family: 'Tthin';
}

.applic_form  .nh1 {
    color:#ec0000;
    font-weight:normal;
    font-size:30px;
    margin:0px;
    font-family: 'Tthin';
}

.applic_form p {
	color:#000000;
	font-size:14px;
	font-family:"Tahoma";
	margin:12px 0px;
	padding:0px;
	line-height:1.3;
}
.applic_form .one_line_form p{
	margin:0px 0px 5px 0px;
}
.applic_form p b {
	font-weight:bold;
}
.applic_form input[type="text"], .applic_form textarea {
	font-size:14px;
	color:#000000;
	font-family:"Tahoma";
}
.applic_form  .red, .red {
	color:#ff0000;
}
.name_field {
	font-size:14px;
	color:#000000;
}
.qualific_field {
	color:#555555;
	font-size:12px;
}
.bord_field {
	border:1px solid #9c9c9c;
	display:table;
}
.bord_field.act {
	border:1px solid #000000;
}
.one_field {
	float:left;
}
.one_field input[type="checkbox"] {
	margin-left:0px;
}
.check_f {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url('/views/bepublic/images/checkbox_form.gif') 0 0 no-repeat;
	margin:5px 5px -3px 0px;
}
.check_f.chek {
	background-position:0 -17px;
}
.check_f input {
	display: none;
}
.bott_form_succes .check_f {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url('/views/bepublic/images/checkbox_form.gif') 0 -34px no-repeat;
	margin:-2px 5px 0px 88px;
	color:#6a6a6a;
}
.bott_form_succes label {
	color:#6a6a6a !important;
	font-size:14px
}
.bott_form_succes .check_f.chek {
	background-position:0 -51px;
}
.bott_form_succes .check_f input {
	display: none;
}
.form_in_form .check_f {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url('/views/bepublic/images/checkbox_form.gif') 0 0 no-repeat;
	margin:-2px 5px -3px 88px;
}
.form_in_form label {
	color:#000000;
	font-size:14px
}
.form_in_form .check_f.chek {
	background-position:0 -17px;
}
.bord_field textarea {
	width:566px;
	height:78px;
	margin:0px;
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	border-top:1px solid #c8c8c8;
	border-bottom:0px;
}
.date_ap .bord_field {
	float:left;
}
.date_ap input {
	text-align:center;
}
.applic_form input[type="text"] {
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	border-top:1px solid #c8c8c8;
	border-bottom:0px;
	padding:3px 0px 0px 0px;
	margin:0px;
	height:27px;
	font-size:14px;
	color:#000000;
}
.half_bl {
	width:50%;
	float:left;
}
.half_bl input[type="text"] {
	width:272px;
}
.clr {
	clear:both;
}
.one_line_form {
	margin:0px 0px 14px 0px;
	display:table;
	width:100%;
}
.applic_form .btn {
	display: block;
	background-color: #FBFBFB;
	font-size: 24px;
	line-height: 54px;
	height: 54px;
	border: 2px solid black;
	text-align: center;
	text-decoration: underline;
	margin: 0px 7px 0px 0px;
	float:right;
	padding:0px 37px;
}
.applic_form .btn:hover {
	background-color: #5B5B5B;
	color: white;
}
#close_applic {
	position:absolute;
	right:12px;
	top:12px;
	font-size:12px;
	color:#0072bc;
	font-family:"Tahoma";
}
.block_ok {
	display:none;
	width: 578px;
	height: 71px;
}
.block_form {
	height: 676px;
    width: 578px;
}
/*end style from form applicate*/
#photos {
	margin:0px 0px 0px 182px;
}
#descr {
	margin:25px 0px 0px 0px;
}
#coach .text .quote{
	font-family:Tahoma;
}
#descr .text p {
	font-family:Tahoma;
}
#photos li.active i {
	background:url('/views/bepublic/images/line_disc_im.png')0 0 no-repeat transparent;
	width:5px;
	height:127px;
	border:0px;
	left:109px;
	top:219px;
}
#photos .quote {
	position:absolute;
	font-size:16px;
	font-family:Tahoma;
	color:#a1a1a1;
	left:130px;
	top:270px;
	width:410px;
}