
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=775544209a4dfd7cdc4d6e3cfbf76ad6
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress