
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b6169b72aee15980927fe07a36cf527e
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress